html, body {
    height:100%;
    margin:0;
    background:#101728;
    font-family:sans-serif;
    scroll-behavior:smooth;
}

#section1Div {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
}

#section1Div img {
    width:5vw;
    height:5vw;
}

#comingSoon {
    font-size:1.5vw;
    font-style: italic;
    margin-left:30px;
    width:30vw;
    background: linear-gradient(to right, #17781B, #FFC107,#29972E, #29972E);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

h1 {
    font-family:Monospace;
    font-size:3vw;
    margin-left:30px;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:1px;
    padding-bottom:1px;
    color:whitesmoke;
}

#github {
    margin-right:30px;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}