html, body {
    height:100%;
    margin:0;
    margin-right:3vw;
    margin-left:3vw;
    margin-bottom:3vw;
    background:#101728;
    font-family:mono;
    font-size:1.1em;
    scroll-behavior:smooth;
    color:white;
}

h1 {
    text-align: center;
}